---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Terminal Emulator',
		description:
			'Uses simple terminal (st) by suckless. A blazingly fast terminal emulator with few lines of code. ',
		icon: 'flat-color-icons:kindle',
	},
	{
		title: 'Window Manager',
		description:
    'Installation does not come with a desktop environment, but uses DWM.',
		icon: 'flat-color-icons:template',
	},
	{
		title: 'Editor',
		description:
			'A neovim based editor named LunarVim - A sensible starting IDE for neovim.',
		icon: 'flat-color-icons:todo-list',
	},
	{
		title: 'File Browser',
		description:
			'Uses lf (as in list files). A terminal file manager written in Go and resembles Ranger.',
		icon: 'flat-color-icons:folder',
	},
	{
		title: 'Shortcuts',
		description:
			'There are a lot of default shortcuts. A complete list can be seen here',
		icon: 'flat-color-icons:electricity',
	},
	{
		title: 'Config Files',
		description:
			'For a complete view of my config files check out my github',
		icon: 'flat-color-icons:file',
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Check out</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Custom arch install script
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					A highly opinionated install script for Arch-based linux distros with my config files
				</p>
			</div>
			<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
				<div class="flex w-full sm:w-auto">
					<a
						class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
            href="/carbs"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Get script
					</a>
				</div>
				<div class="flex w-full sm:w-auto">
					<a
						class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
						href="http://localhost:3000/default-keybindings-in-carbs">Learn more</a
					>
				</div>
			</div>
		<div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />

								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>

		</div>
		</div>
	</div>

</section>
